.GameList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.4rem;
    padding: 1.1rem;
    overflow: hidden;
}

.year {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid grey;
    padding: .7rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(240, 248, 255);
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--primary-color-dark);
}

.year:hover{
    background-color: var(--primary-color-light);
}
.totalGames {
    margin-left: auto;
}
.score {
    font-size: 1.2rem;
    margin: 0 1.2rem;
    margin-right: 0;
}

.arrow {
    background-color: rgb(32, 76, 99);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 4px;

}

.totalGames {
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

@media screen and (max-width: 42rem) {
    .GameList {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.4rem;
        padding: 1.1rem;
        overflow: hidden;
    }
    .year, .score, .totalGames{
        font-size: 1rem;
    }
}


