.GameList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.4rem;
    padding: 1.4rem;
}

.year {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 1rem;
    padding: .7rem;
    font-size: 1.6rem;
    font-weight: 500;
}