.searchResults { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.4rem;
    padding: 1.1rem;
    overflow: hidden;
}

.found {
    width: 100%;
    text-align: center;
}