.Searchbar{
    width: 100%;
    text-align: center;
}

.Searchbar input{
    width: 75%;
    max-width: 20rem;
    margin: 2rem auto;
    font-size: 1.2rem;
    border: none;
    padding: 3px 8px;
    margin-right: 1rem;
}

.Searchbar input:focus {
    background-color: rgb(168, 230, 176);
    border: none;
    outline: none;
}

.Searchbar button{
    color: white;
    border-radius: 100%;
    padding: .4rem;
    background-color: var(--secondary-color-dark);
    border: none;
    outline: none;
    cursor: pointer;
}

.Searchbar button:disabled {
    visibility: hidden;
}