.Searchbar{
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}

.Searchbar input{
    width: 75%;
    max-width: 20rem;
    font-size: 1.2rem;
    border: none;
    padding: 3px 8px;
}

.Searchbar input:focus {
    background-color: rgb(168, 230, 176);
    border: none;
    outline: none;
}

.Searchbar button{
    position: relative;
    left: -1.5rem;
    color: black;
    border-radius: 100%;
    padding: .2rem .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.Searchbar button:hover {
    background-color: #ddd;
}

.Searchbar button:disabled {
    visibility: hidden;
}