.sort__Button{
    margin: .4rem .8rem;
    padding: .4rem 1rem;
    font-size: 1rem;
    border-radius: 4rem;
    outline: none;
    border: 2px solid rgb(211, 211, 211);
    color: rgb(247, 247, 247);
    background-color: var(--primary-color-light);
}

.sort__Button:hover { 
    background-color: var(--secondary-color-dark);
    cursor: pointer;
}

.sort__Button:active,
.sort__Button:focus {
    background-color: var(--secondary-color-dark);
}

@media screen and (max-width: 42rem) {
    .sort__Button{
        font-size: .9rem;
    }
}