:root {
  --primary-color-dark: rgb(25, 60, 78);
  --primary-color-light: rgb(30, 65, 83);
  --secondary-color-dark: rgb(56, 109, 105);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  font-size: 62.5%;
  background-color: var(--primary-color-dark);
  margin-bottom: 2rem;
}

html {
  background-color: var(--primary-color-dark);
}

h1 {
  color: rgb(243, 243, 243);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
  z-index: 20;
  background-color: inherit;
}

.searchResult{
  color: white;
  text-align: center;
  font-size: 1rem;
}

.searchlist{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.4rem;
  padding: 1.1rem;
  overflow: hidden;
  justify-items: center;
}

.searchlist div {
  max-width: 30rem;
  width: 100%;
}

.searchlist h2 {
  color: white;
  text-align: center;
}

@media screen and (max-width: 55rem) {
  .searchlist{
    justify-items: center;
  }
}
